.div-container {  
  display:flex;
  flex-wrap: wrap;  
  width: 600px;
  height: 600px;
  background-color: gray;
}

.div-corner {
  align-self: auto;
  width: 10%;
  height: 10%;
  background-color:#57504b;
}

.div-vertical-button {
  align-self: auto;
  width: 10%;
  height: 80%;
  background-color: #57a6d3;
  cursor: pointer;
}

.div-horizontal-button {
  align-self: auto;
  width: 80%;
  height: 10%;
  background-color: #57a6d3;
  cursor: pointer;  
}

.div-center {
  display:flex;
  align-self: auto;
  width: 80%;
  height: 80%;
  background-color:white;  
  justify-content: center;
  align-items: center;

}

.div-horizontal-button:hover{
  background-color:#61dafb;
}
.div-vertical-button:hover{
  background-color:#61dafb;
}

.image{
  position: relative;
  width: 100px;
  height: 100px;
}